// The height of the navigation container.
$layout-swap-height: 2 * $base-line-height;

// Layout swap

.layout-swap,
%layout-swap {
  position: relative;

  @include respond-to(xs) {
    // Move all the children down to make room for the "top" element.
    padding-top: $layout-swap-height;
  }

  &__top {
    @include respond-to(xs) {
      position: absolute;
      top: 0;
      height: $layout-swap-height;
      width: 100%;
    }
  }
}
