// The height of the navigation container.
$layout-swap-height: 2 * $base-line-height;

// Layout swap
//
// Uses absolute positioning and selective padding to make 2 elements appear to
// swap places in the visual order while maintaining their original HTML source
// order.
//
// Markup:
// <div class="layout-swap">
//   <div>This element comes <strong>first</strong> in the HTML source order.</div>
//   <div class="layout-swap__top">This element comes <strong>second</strong> in the HTML source order.</div>
// </div>
//
// Style guide: layouts.layout-swap

.layout-swap,
%layout-swap {
  position: relative;

  @include respond-to(tablet) {
    // Move all the children down to make room for the "top" element.
    padding-top: $layout-swap-height;
  }

  &__top {
    @include respond-to(tablet) {
      position: absolute;
      top: 0;
      height: $layout-swap-height;
      width: 100%;
    }
  }
}
