.layout-center,
%layout-center {
  background: susy-svg-grid() no-repeat scroll;
  max-width: $mobile;
  margin: 0 auto;
  width: 100%;

  @include respond-to(tablet) {
    max-width: $tablet;
  };

  @include respond-to(desktop) {
    max-width: $desktop;
  };
}
